@model AugPServer.Models.AuthorModel

@{
    ViewData["Title"] = "EditAuthor";
}

<h1>MetaData</h1>

<h4>Step 2: Edit author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAuthor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Affiliation" class="control-label"></label>
                <input asp-for="Affiliation" class="form-control" />
                <span asp-validation-for="Affiliation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="AuthorList" class="btn btn-outline-secondary">Back</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
