@model AugPServer.Models.MetaDataModel

@{
    ViewData["Title"] = "MetaData";
}

<h1>MetaData</h1>

<h4>Step 1: basic informations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MetaData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOI" class="control-label"></label>
                <input asp-for="DOI" class="form-control" />
                <span asp-validation-for="DOI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<button type="button" class="removeButtonBg" onclick="confirmNewArticle()">Start a new article</button>
@section Scripts { 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
