@model IEnumerable<AugPServer.Models.ImageModel>

@{
    ViewData["Title"] = "Upload images";
}

<h1>Upload images</h1>

<h4>Step 3</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form method="post" enctype="multipart/form-data" asp-action="ImageUpload">
            <div class="form-group">
                <div class="col-md-10">
                    <p>You can select multiple images as well.</p>
                    <input class="form-control" name="files" multiple="multiple" type="file" accept="image/*" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-primary btn-lg" type="submit" value="Upload" />
                </div>
                <br />
                @{
                    if (Model != null)
                    {
                        <div class="alert alert-success col-md-10" role="alert">
                            This article currently has <b>@Model.Count()</b> images.
                        </div>
                    }
                }

                <div class="col-md-10 mt-2">
                    <a asp-controller="MetaData" asp-action="AuthorList" class="btn btn-outline-secondary">Back</a>
                    <a asp-controller="ImageUpload" asp-action="ImageList" class="btn btn-outline-success">Next</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
