
@{
    ViewData["Title"] = "Downloads";
}

<section class="text-center">
    <div class="container">
        <img src="~/imgs/icon.png" style="max-height: 25%; max-width: 25%;" />
        <h1 class="jumbotron-heading">Downloads</h1>

        <table class="downloadTable">
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Platform</th>
                <th>Download</th>
            </tr>
            <tr>
                <td>AugPApp.apk</td>
                <td>1.0</td>
                <td>Android</td>
                <td><a asp-action="DownloadFileFormDownloads" asp-route-fileNameToDownload="AugPApp_1.0.apk">Download</a></td>
            </tr>
        </table>
    </div>
</section>