
@{
    ViewData["Title"] = "How to use";
}

<h2>Create an article</h2>
<ol>
    <li>Press the "Let's begin" button <a asp-action="Index">here</a></li>
    <li></li>
    <li></li>
    <li></li>
</ol>

<h2>Check out an article</h2>
...