<section class="text-center">
    <div class="container">
        <h1 class="jumbotron-heading">A new article</h1>
        <p class="lead text-muted">sometextlater</p>
        <p>
            <a asp-controller="MetaData" asp-action="MetaData" class="btn btn-primary btn-lg">Start</a>
        </p>
    </div>
</section>