@model AugPServer.Models.SessionModelCollector

@{
    ViewData["Title"] = "NewImages";
}

<h1>Your images are ready to use!</h1>

<h4>Step 7</h4>
<p>The new images: </p>
<ul>
    @{
        if (Model.Figures != null)
        {
            for (int i = 0; i < Model.Figures.Count; i++)
            {
                string targetImg = $"/TempFiles/~{Model.SessionId}/NewImages/output_{i}.png";
                <li><a href=@targetImg target="_blank">@Model.Figures[i].Name</a></li>
            }
        }
        else
        {
            <li>No images found.</li>
        }
    }
</ul>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
