@model AugPServer.Models.ProjectFileModel

@{
    ViewData["Title"] = "Your .augp file";
}

<h1>The .augp file</h1>

<h4>Step 6</h4>
<ol>
    <li>Click <a asp-action="DownloadAugpFile">here</a> to download the .augp file</li>
    <li>Upload the downloaded .augp file somewhere, then copy the link</li>
    <li>Paste the copied link to the input field down below</li>
</ol>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProjectFile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="URLToFile" class="control-label"></label>
                <input asp-for="URLToFile" class="form-control" />
                <span asp-validation-for="URLToFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="FigureList" asp-controller="Figure" class="btn btn-outline-secondary">Back</a>
                <input type="submit" value="Finish" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<button type="button" class="removeButtonBg" onclick="confirmNewArticle()">Start a new article</button>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
